<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Gallery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <h1>Image Gallery</h1>
  <div class="gallery">
    {% for image in images %}
    <div class="image-container">
      <a href="{{ url_for('serve_image', filename=image) }}">
        <img src="{{ url_for('static', filename='images/' + image) }}" alt="{{ image }}">
      </a>
    </div>
    {% endfor %}
  </div>
</body>
</html>
